*{
    margin: 0;padding: 0;box-sizing: border-box;
    background-color: rgb(227, 219, 235);
}
.cen{
    height: 100%; width: 100%; 
    display: flex; align-items: center; justify-content: center;
    padding: 10px 0;
}
.main{
    min-height: 90vh;
 min-width: 50vw; border: 3px solid black;
display: grid; place-items: center; padding: 10px 8px; 
border-radius: 20px;
}
.todo{
    color: rgb(230, 11, 193); font-size: 60px; 
    text-shadow: 5px 5px 5px rgb(139, 138, 165);
}
label{
    font-size: 30px; font-weight: bold;
}
input{
    padding: 5px; margin: 0 5px; border-radius: 10px; border: 3px solid;
}
.inp{
    display: flex;
}
.inp button{
    background-color: rgb(196, 59, 184); padding: 3px; font-size: 20px;
    border-radius: 10px; box-shadow: 3px 5px 5px rgb(115, 113, 156);
    color: rgb(233, 214, 45);
}
.inp button:hover{
    background-color: green; color: white; font-size: 22px;
    transition: .1s ease-in-out;
}

h1{
    padding: 10px 0;  text-align: center; color: blueviolet;
}
.task{
    border: 3px dotted rgb(12, 224, 58); padding: 3px 20px;
}
li{
    color: rgb(158, 9, 138); font-size: 20px; font-weight: bold;
    
}
li button{
    padding: 3px; font-size: 10px; border-radius: 5px; background-color: red;
    color: white; margin-left: 10px;
}
li button:hover{
    background-color: black;
}